{{ define "main" }}
	<main>
		<div class="window">
			<div class="title-bar">

			<div class="title-bar-text"> About </div>

			<div class="title-bar-controls">
				<button aria-label="Minimize"></button>
				<button aria-label="Maximize"></button>
				<button aria-label="Close"></button>
			</div>

			</div>
			
			<div class="window-body">

			<time>{{ .Date.Format "02.01.2006 15:04" }}</time>
			<div>
				{{ .Content }}
			</div>
			</div>
		</article>
	</main>
{{ partial "sidebar.html" . }}
{{ end }}
